<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwN8CC8etETXWHmEDtKWgjCpkS9bpI7sU</string>
	<key>GCM_SENDER_ID</key>
	<string>382686522642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.UberSwiftUIClone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-9c011</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-9c011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382686522642:ios:da34c4896abc965d6717cb</string>
</dict>
</plist>